@font-face {
    font-family: "Gotham Pro";
    src: url("../css/font/GothamPro.ttf");
}
@font-face {
    font-family: "Museo Sans Cyrl";
    src: url("../css/font/MuseoSansCyrl.otf")
}
/*
	MY styles
*/
a {
	text-decoration: none;
	color: #fff !important;
}
a:hover {
	text-decoration: none !important;
	color: #fff !important;
}


/*Block sleva*/
.aside {
	position: absolute;
	background-color: #000;
	height: 100%;
	width: 80px;
	left: 0px;
	top: 0px;
}
/*Main knopka*/
.home_page {
	position: absolute;
	top: 19px;
	padding: 0 0 0 23px;  
	font-family: Palanquin;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: normal;
	color: #FFF;
	display: block;
	background-color: transparent;
}
							/* 4 knopki sverxu */
.project_buttons_up {
	position: absolute;
	top: 111px;
}
.project_buttons_up a {
	display: block;
}
.ico img {
	background: #9E9E9E;
}
.home_icon {
	position: relative;
	margin-left: 18px;
	width: 44px;
	height: 44px;
	border-radius: 22px;
	background-color: #fff;
}
.home_icon img {	
	position: absolute;
	left:10px;	
	top:11px;	
}
.document {
	margin:44px 0 0 29px;
}
.task {
	margin: 47px 0 0 28px;
}
.calendar {
	margin: 53px 0 0 28px;
}
							/* 3 knopki snizu */
.project_buttons_down {
	position: absolute;
	bottom: 0;
}
.project_buttons_down a {
	display: block;
}
.counter {
	margin: 0 0 -2px 45px;	
	min-width: 18px;
	height: 18px;
	border-radius: 9px;
	background-color: #fff;
}
.counter h6 {
	text-align: center;
	min-width: 11px;	
	height: 10px;
	margin: 5px 0 0 0px;
	font-family: Gotham Pro;
	font-size: 10px;
	font-weight:bold; 
	color: #191919;
	line-height: normal;
}
.notification {
	margin: 0 0 38px 30px;
}
.search {
	margin: 0 0 43px 29px;
}
.profile {
	width: 48px;
	height: 48px;
	border-radius: 24px;
	background: url(),#828282;
	margin: 0 0 32px 16px;
}