@font-face {
    font-family: "Gotham Pro";
    src: url("../css/font/GothamPro.ttf");
}
@font-face {
    font-family: "Museo Sans Cyrl";
    src: url("../css/font/MuseoSansCyrl.otf")
}
/*
	MY styles
*/
a {
	text-decoration: none;
}
a:hover {
	text-decoration: none !important;
}


/*Block sleva*/
.aside {
	position: fixed;
	display: flex;
	background-color: #000;
	height: 100%;
	width: 80px;
}
.aside .row {
	margin: 0 !important;
}
.aside .col-12 {
	padding: 0 !important;
	flex: none;
	
}
							/*Main knopka*/
.main {	
	margin: 19px 0 0 23px !important; 
	font-family: Palanquin;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: normal;
	color: #FFF;
	display: block;
	background-color: transparent;
}
.main:hover {
	color: #fff;
}
							/* 4 knopki sverxu */
							/* white BG */
.white_bg {
	width: 44px !important;
	height: 44px;
	border-radius: 22px;
	background: #FFFFFF;
	margin-left: 18px !important;
}
.white_bg img {
	margin:10px 0 0 10px;
}
							/* white BG */
.home {	
	margin: -30px 0 0 25px;
}
.documents {
	margin: -30px 0 0 28px;
}
.tasks {
	margin: -30px 0 0 28px;
}
.calendar {
	margin: -30px 0 0 28px;
}
							/* 3 knopki snizu */
.counter {
	z-index: 100;
	position: absolute;
	bottom: 24px;
	left: 15px;
	min-width: 18px;
	height: 18px;
	border-radius: 9px;
	background-color: #fff;
}
.counter h6 {
	text-align: center;
	min-width: 11px;	
	height: 10px;
	margin: 5px 0 0 0px;
	font-family: Gotham Pro;
	font-size: 10px;
	font-weight:bold; 
	color: #191919;
	line-height: normal;
}
.notification {
	margin: 0 0 -20px 30px;
}
.search {
	margin: 0 0 0 29px;
}
.profile {
	width: 48px !important;
	height: 48px;
	border-radius: 24px;	
	margin: 0 0 32px 16px;
}
							/*SIDE-PANEL*/
.panel {
	width: 384px;
	height: 100%;
	position: fixed;
	left: 80px;
	background-color: #f5f5f5;
}
							/*SELECT*/
.menu-item {
	z-index: 1000;
}
.selector {
	display: inline-block;
	cursor: pointer;
	margin: 27px 0 0 29px;
	width: 332px;
	height: 57px;
	border-radius: 6px;
}
.selector:hover {
	background: #CEDEEE;
}
.selector a {
	font-family: Gotham Pro;
	font-size: 18px;
	line-height: normal;
	color: #191919;
}
.selector a:hover {
	color: #191919;
}
.selector img {
	float: right;
	margin: 26px 11px 0 0;
}
.ico_project {
	float: left;
	width: 40px;
	height: 40px;
	border-radius: 6px;
	margin: 9px 20px 0 11px;
}
.title_project {
	float: left;
	font-family: Gotham Pro;
	font-size: 18px;
	line-height: normal;
	color: #191919;
	margin-top: 20px;
}
							/*Dropdown*/    
.menu-item:hover .sub-menu, .sub-menu:hover {
      visibility: visible;
      opacity: 1;
      display: flex;
}
.menu-item:hover .selector {
	background: #CEDEEE;
}
.menu-item:active .sub-menu, .sub-menu:active {
      visibility: visible;
      opacity: 1;
      display: flex;
}
.menu-item:focus-within .sub-menu, .sub-menu:hover {
      visibility: visible;
      opacity: 1;
      display: flex;
}

							/*Sub-menu*/
.sub-menu {
	z-index: 1000;
	flex-direction: column;
	align-items: flex-start;
	visibility: hidden;
	display: none;
	opacity: 0;
	margin: 13px 0 0 29px;
	border: 1px solid #D7D7D7;
	width: 332px;
	box-sizing: border-box;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2); 	
	border-radius: 6px;
}
.sub-menu .menu-item {
	background-color: #e7e7e7;
	width: 332px;
	height: 57px;
}
.sub-menu .menu-item:first-child {
	border-bottom:1px solid #d7d7d7;
}
.sub-menu .menu-item:nth-last-child(2) {
	border-bottom:1px solid #d7d7d7;
}
.new_project {
	height: 65px !important;
}
.new_project img {
	float: left;
	margin: 22px 0 0 21px;
}
.new_project h3 {
	float: left;
	margin: 25px 0 0 27px;
	font-family: Gotham Pro;
	font-size: 18px;
	line-height: normal;
	color: #9E9E9E;
	height: 18px;
}