@font-face {
    font-family: "Gotham Pro";
    src: url("../css/font/GothamPro.ttf");
}
@font-face {
    font-family: "Museo Sans Cyrl";
    src: url("../css/font/MuseoSansCyrl.otf")
}
/*
	MY styles
*/
a {
	text-decoration: none;
}
a:hover {
	text-decoration: none !important;
}


/*Block sleva*/
.aside {
	z-index: 1000;
	position: fixed;
	display: flex;
	background-color: #000;
	height: 100%;
	width: 80px;
}
.aside .row {
	margin: 0 !important;
}
.aside .col-12 {
	padding: 0 !important;
	flex: none;
	
}
							/*Main knopka*/
.main {	
	margin: 19px 0 0 23px !important; 
	font-family: Palanquin;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: normal;
	color: #FFF;
	display: block;
	background-color: transparent;
}
.main:hover {
	color: #fff;
}
							/* 4 knopki sverxu */
							/* white BG */
.white_bg {
	width: 44px !important;
	height: 44px;
	border-radius: 22px;
	background: #FFFFFF;
	margin-left: 18px !important;
}
.white_bg img {
	margin:10px 0 0 10px;
}
							/* white BG */
.home {	
	margin: -45px 0 0 25px;
}
.documents {
	margin: -45px 0 0 28px;
}
.tasks {
	margin: -45px 0 0 28px;
}
.calendar {
	margin: -45px 0 0 28px;
}
							/* 3 knopki snizu */
.counter {
	z-index: 100;
	position: absolute;
	bottom: 24px;
	left: 15px;
	min-width: 18px;
	height: 18px;
	border-radius: 9px;
	background-color: #fff;
}
.counter h6 {
	text-align: center;
	min-width: 11px;	
	height: 10px;
	margin: 5px 0 0 0px;
	font-family: Gotham Pro;
	font-size: 10px;
	font-weight:bold; 
	color: #191919;
	line-height: normal;
}
.notification {
	margin: 0 0 -20px 30px;
}
.search {
	margin: 0 0 0 29px;
}
.profile {
	width: 48px !important;
	height: 48px;
	border-radius: 24px;	
	margin: 0 0 32px 16px;
}
							/*SIDE-PANEL*/
.panel {
	z-index: 100;
	width: 384px;
	height: 100%;
	position: fixed;
	left: 80px;
	background-color: #f5f5f5;
}
							/*SELECT*/
.menu-item {
	z-index: 1000;
	position: absolute;
	top: 27px;
	left: 29px;
}
.selector {
	display: inline-block;
	cursor: pointer;
	width: 332px;
	height: 57px;
	border-radius: 6px;
}
.selector:hover {
	background: #CEDEEE;
}
.selector a {
	font-family: Gotham Pro;
	font-size: 18px;
	line-height: normal;
	color: #191919;
}
.selector a:hover {
	color: #191919;
}
.selector img {
	float: right;
	margin: 26px 11px 0 0;
}
.ico_project {
	float: left;
	width: 40px;
	height: 40px;
	border-radius: 6px;
	margin: 9px 20px 0 11px;
}
.title_project {
	float: left;
	font-family: Gotham Pro;
	font-size: 18px;
	line-height: normal;
	color: #191919;
	margin-top: 20px;
}
							/*Dropdown*/    
.menu-item:hover .sub-menu, .sub-menu:hover {
      visibility: visible;
      opacity: 1;
      display: flex;
}
.menu-item:hover .selector {
	background: #CEDEEE;
}
.menu-item:active .sub-menu, .sub-menu:active {
      visibility: visible;
      opacity: 1;
      display: flex;
}
.menu-item:focus-within .sub-menu, .sub-menu:hover {
      visibility: visible;
      opacity: 1;
      display: flex;
}

							/*Sub-menu*/
.sub-menu {
	z-index: 1000;
	flex-direction: column;
	align-items: flex-start;
	visibility: hidden;
	display: none;
	opacity: 0;
	margin: 13px 0 0 0;
	border: 1px solid #D7D7D7;
	width: 332px;
	box-sizing: border-box;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2); 	
	border-radius: 6px;
}
.sub-menu a {
	background-color: #e7e7e7;
	width: 332px;
	height: 57px;
	border-bottom:1px solid #d7d7d7;
}
.sub-menu a:nth-last-child(1) {
	border-bottom:none;
}
.sub-menu a:hover {
	background-color: #CEDEEE;
}
.new_project {
	height: 65px !important;
}
.new_project img {
	float: left;
	margin: 22px 0 0 21px;
}
.new_project h3 {
	float: left;
	margin: 25px 0 0 27px;
	font-family: Gotham Pro;
	font-size: 18px;
	line-height: normal;
	color: #9E9E9E;
	height: 18px;
}
							/*Describtion*/
.describtion {
	margin: 110px 0 0 29px;
	width: 332px;
}
.describtion a {
	display: block;
	width: 332px;
	height: 57px;
	transition: 0.2s;
	border-radius: 6px;
	border-bottom:1px solid #E7E7E7;
}
.describtion a:hover {
	background-color:#E7E7E7;
}
.describtion a:nth-last-child(1) {
	border-bottom:none;
}
.describtion img {
	float: left;
	margin: 22px 0 0 21px;
}
.describtion h3 {
	float: left;
	margin: 22px 0 0 27px;
	font-family: Gotham Pro;
	font-size: 18px;
	line-height: normal;
	color: #191919;
	height: 18px;
}
.describtion .title_project.active {
	color: #1B5998;
}
							/*Content*/
.project {
	position: absolute;
	left: 464px;
}
							/*About project*/
.taxonomy_project {
	margin: 46px 0 0 45px;
	height: 22px;
}
.taxonomy_project h3 {
	display: inline;
	float: left;
	font-family: Museo Sans Cyrl;
	font-size: 18px;
	line-height: normal;
	color: #737373;
}
.taxonomy_project .taxonomy_title:after {
	content: "/";
	padding: 0 5px 0;
	font-family: Museo Sans Cyrl;
	font-size: 18px;
	line-height: normal;
	color: #737373;
}
							/*Content project*/
.content_project {
	margin: 45px 0 0 69px;
}
.content_project h1 {
	font-family: Museo Sans Cyrl;
	font-size: 36px;
	line-height: normal;
	color: #191919;
}
							/* Icons in corner */
.project .project_icons {
	position: absolute;
	left: 1300px;
	top: 52px;
	width: 148px;
}
.project .project_icons	a {
	width: 42px;
	height: 42px;
	text-align: center;	
	transition: 0.2s;
	border-radius: 21px;
}
.project .project_icons	a img {
	margin-top: 5px;
}
.project .project_icons	a:hover {
	background-color:#E7E7E7; 
}						
.project .edit_icon {
	display: block;
	float: left;		
}
.project .dotted_icon {
	display: block;
	float: left;
	margin: 0 0 0 47px;
}