{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <title>Creating new task</title>
</head>
<body>
<form action="{% url 'create_task_url' %}" method="post">
    {% csrf_token %}
    {% for field in form %}
            <div class="form-group">
            {{ field.label }}
            {{ field }}
            </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Create task</button>
</form>
</body>