{% extends 'taskmanager/tasklist.html' %}

{% block context %}
  <form action="{% url 'edit_task_url' id=task.id proj_id=cur_project.id %}" method="post" style="position: absolute; margin-left: 500px; margin-top: 60px; width: 800px">
      <h2>Редактировать</h2>
      {% csrf_token %}
      {% for field in form %}
              <div class="form-group">
              {{ field.label }}
              {{ field }}
              </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary">Готово</button>
  </form>
{% endblock context %}
