{% extends 'mezzanine.html' %}


{% block content %}
  <h1 style="margin-left: 60px;" class="text-light">Tasks: <a href="{% url 'create_task_url' %}"><button type="button" class="btn btn-primary" name="home">Create new</button></a></h1>
      {% for task in tasks %}
          <div class="card" style="width: 18rem; margin-left: 40px;">
              <div class="card-body">
                  {% if task.project != task.DEFAULT_PROJECT %}
                  <h6 class="card-subtitle mb-2 text-muted">{{ task.project }}</h6>
                  {% endif %}
                  <h5 class="card-title">{{ task.title|title }}</h5>
                  {% if task.status == task.TODO %}
                      <div style="color: orange; font-weight: bold;">To do</div>
                  {% elif task.status == task.DONE %}
                      <div style="color: limegreen; font-weight: bold;">Done</div>
                  {% elif task.status == task.IN_PROGRESS %}
                      <div style="color: dodgerblue; font-weight: bold;">In progress</div>
                  {% elif task.status == task.REVIEW %}
                      <div style="color: maroon; font-weight: bold;">On review</div>
                  {% endif %}
                  <p class="card-text">{{ task.body }}</p>
                  <h6 class="card-subtitle mb-2 text-muted">
                  {% if task.author != None %}
                  <a href="#" class="card-subtitle mb-2 text-muted">{{ task.author }}</a>,
                  {% endif %}
                  {{ task.creation_date }}</h6>
                  <!-- <h6 class="card-subtitle mb-2 text-muted">DL: {{ task.deadline_date }}</h6> -->
                  <a href="{% url 'delete_task_url' id=task.id %}"><button type="button" class="btn btn-outline-primary btn-sm">Delete</button></a> <a href="{% url 'edit_task_url' id=task.id %}"><button type="button" class="btn btn-outline-primary btn-sm">Edit</button></a>
              </div>
          </div>
      {% endfor %}
{% endblock content %}
