{% extends 'taskmanager/tasklist.html' %}
{% load staticfiles %}
{% block context %}
    <style>
    .title {
        font-family: "Gotham Pro";
        line-height: normal;
        font-size: 16px;
        color: #737373;
    }
    .value {
         font-family: Gotham Pro; line-height: normal; font-size: 18px; color: #191919;
    }
</style>
    <div style="position: absolute; width: 497px; height: 22px; left: 509px; top: 46px; font-family: Museo Sans Cyrl; line-height: normal; font-size: 18px; color: #737373;"> {{ cur_project.title }} / Мои задачи / {{ cur_task.title }}</div>
    <a href="{% url 'edit_task_url' id=cur_task.id proj_id=cur_project.id %}"><img src="{% static 'mezzanine/icons/edit_icon.png' %}" style="position: absolute; width: 32px; height: 32px; left: 1772px; top: 52px;"></a>
    <div style="position: absolute; width: 759px; height: 87px; left: 533px; top: 117px; font-family: Museo Sans Cyrl; line-height: normal;font-size: 36px; color: #191919;">{{ cur_task.title }}</div>
    <div class="title" style="position: absolute; width: 90px; height: 16px; left: 534px; top: 228px;">Создатель:</div>
    <div class="value" style="position: absolute; width: 124px; height: 18px; left: 599px; top: 267px;">{{ cur_task.author }}</div>
    <div class="title" style="position: absolute; width: 200px; height: 16px; left: 599px; top: 291px;">{{ cur_task.creation_date }}</div>
    <div class="title" style="position: absolute; width: 112px; height: 16px; left: 534px; top: 357px;">Исполнитель:</div>
    <div class="title" style="position: absolute; width: 75px; height: 16px; left: 534px; top: 486px;">Дедлайн:</div>
    <div class="value" style="position: absolute; width: 250px; height: 18px; left: 534px; top: 517px;">{{ cur_task.deadline_date }}</div>
    <div class="title" style="position: absolute; width: 147px; height: 16px; left: 534px; top: 589px;">Описание задачи:</div>
    <div style="position: absolute; width: 717px; height: 262px; left: 534px; top: 623px;">
        <div style="font-family: Gotham Pro; line-height: normal; font-size: 18px; color: #191919;">{{ cur_task.body }}</div>
        <div style="position: relative; top: 40px; font-family: Gotham Pro; line-height: normal; font-size: 24px; color: #191919;">Комметарии</div>
        {% for comment in comments %}
            <div style="position: relative; top: 80px; width: 600px;">
                <table>
                    <tr>
                        <td valign="top">
                            <h2 style="padding-right: 10px">U</h2>
                        </td>
                        <td>
                            <a href="#" class="value" style="position: relative; top: -10px;">{{ comment.author }}</a>
                            <h6 class="value">{{ comment.body }}</h6>
                        </td>
                    </tr>
                </table>
            </div>
        {% endfor %}

        <form action="{% url 'add_comment_url' id=cur_task.id proj_id=cur_project.id %}" method="post" style="position: relative; top: 80px;">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    Оставьте комментарий
                    {{ field }}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-outline-primary btn-sm">Отправить</button>
        </form>
    </div>
{% endblock context %}