{% extends 'mezzanine/project.html' %}
{% load staticfiles %}

{% block project %}
<section class="project">
    <article class="taxonomy_project">
    	<h3 class="taxonomy_title">{{ cur_project.title }}</h3><h3>О проекте</h3>
    </article>
    <article class="content_project">
    	<h1>{{ cur_project.text|safe }}</h1>    
    </article> 
    <article class="project_icons">  
    	<a href="#" class="edit_icon"><img src="{% static 'mezzanine/icons/edit_ico.png' %}"></a>
    	<a href="#" class="dotted_icon"><img src="{% static 'mezzanine/icons/dotted_icon.png' %}"></a>	
    </article>
</section>
{% endblock %}
