{% extends 'mezzanine.html' %}

{% block title %}Новый проект{% endblock title %}

{% block project %}
  <form class="" action="{% url 'createproject' %}" enctype='multipart/form-data' method="post" style="position: absolute; width: 170px; height: 18px; left: 500px; top: 47px;">
    {% csrf_token %}
    <p class="">Главное изображение: {{ form.mainimg }}</p>
    <p class="">Заголовок:</p>
    {{ form.title }}
    <p class="">Текст проекта:</p>
    {{ form.text }}
    <p class="">Готовность: {{ form.ended }}</p>
    <!-- {{ form.as_p }} -->
    <button type="submit" name="button" class="btn btn-success">ГОТОВО</button>
  </form>
{% endblock project %}
