{% extends 'mezzanine.html' %}

{% block title %}MEZZANINE{% endblock title %}

{% block project %}
  <div class="container-fluid text-center" style="position: absolute; width: 259px; height: 22px;left: 509px; top: 46px; font-family: Museo Sans Cyrl; line-height: normal; font-size: 18px; color: #737373;">
    <div style=" font-family: Gotham Pro; line-height: normal; font-size: 18px; color: #191919;">Новый проект</div>
    <a href="{% url 'createproject' %}"><button type="button" name="button" class="btn btn-primary">Создать</button></a>
  </div>
{% endblock project %}
