{% extends 'mezzanine/startpage.html' %}
{% load staticfiles %}

{% block title %}{{ detail.title }}{% endblock title %}
{% block default %}
    <img src="/media/{{ detail.mainimg }}" alt="" class="img-thumbnail">
    <h2 class="text-center">{{ detail.title }}</h2>
    Проект создал: <p>{{ detail.user }}</p>
    Дата создания: <p>{{ detail.created }}</p>
    {% if request.user == detail.user %}
      <a href="{{ detail.get_update_url }}"><button type="button" name="button" class="btn btn-primary">ИЗМЕНИТЬ</button></a>
      <a href="{{ detail.get_delete_url }}" class="btn btn-danger">УДАЛИТЬ</a>
    {% endif %}
    <p>{{ detail.text|safe }}</p>
{% endblock default %}

{% block file %}
  <p class="text-center">Прикрепленные файлы</p>
  <div class="btn-group-vertical">
    {% for file in files %}
        {% if file.project_id == detail.id %}
          <p class="text-primary">{{ file.title }}</p>
          <a download href="/media/{{ file.file }}"><button type="button" name="button" class="btn btn-outline-success btn-sm">download</button></a>
        {% endif %}
    {% endfor %}
  </div>
{% endblock file %}
