{% extends 'mezzanine/startpage.html' %}
{% load staticfiles %}


{% block default %}
    <img src="/media/{{ detail.mainimg }}" alt="" class="img-thumbnail">
    <h2 class="text-center">{{ detail.title }}</h2>
    Проект создал: <p>{{ detail.user }}</p>
    Дата создания: <p>{{ detail.created }}</p>
    <p>{{ detail.text }}</p>
    <div class="row">
      {% for file in files %}
        <div class="col-md-1">
          {% if file.project_id == detail.id %}
            <title>Home</title>
            <a download href="/media/{{ file.file }}">скачать</a>
          {% endif %}
        </div>
      {% endfor %}
    </div>
{% endblock default %}
