{% extends 'mezzanine.html' %}

{% block content %}
<div style="position: fixed; width: 44px; height: 44px; left: 18px; top: 191px; border-radius: 50%; background: #FFFFFF;"></div>
<img src="{% static 'mezzanine/icons/documents_selected_icon.png' %}" style="position: fixed; left: 28px; top: 201px;">
<div>
    <div style="position: absolute; width: 211px; height: 27px; left: 120px; top: 125px; font-family: Gotham Pro; line-height: normal; font-size: 28px; color: #191919;">
        Документация
    </div>
    <ul style="position: fixed; width: 191px; height: 18px; left: 120px; top: 195px; font-family: Gotham Pro; line-height: normal; font-size: 18px;">
    {% for document in documents %}
        <li style="height: 50px">{{ document.title }}</li>
    {% endfor %}
    </ul>
</div>
    {% block context %}
    {% endblock %}
{% endblock content %}
