{% extends 'mezzanine/startpage.html' %}
{% load staticfiles %}


{% block default %}
    <h2 class="text-center">{{ detail.title }}</h2>
    Проект создал: <p>{{ detail.user }}</p>
    Дата создания: <p>{{ detail.created }}</p>
    <p>{{ detail.text }}</p>
    <div class="container-fluid">
      {% for file in files %}
        {% if file.project_id == detail.id %}
          <a download href="/media/{{ file.file }}"><button type="button" name="button" class="btn btn-outline-success">download</button></a>
        {% endif %}
      {% endfor %}
    </div>
{% endblock default %}
