{% extends 'mezzanine/startpage.html' %}
{% load staticfiles %}

{% block title %}{{ detail.title }}{% endblock title %}
{% block default %}
    <h2 class="text-center text-light">{{ detail.title }}</h2>
    <p class="text-light">Проект создал: {{ detail.user }}</p>
    <p class="text-light">Дата создания: {{ detail.created }}</p>
    {% if request.user == detail.user %}
      <a href="{{ detail.get_update_url }}" class="btn btn-primary btn-sm">ИЗМЕНИТЬ</a>
      <a href="{{ detail.get_delete_url }}" class="btn btn-danger btn-sm">УДАЛИТЬ</a>
    {% endif %}
    <p class="text-light">{{ detail.text|safe }}</p>
{% endblock default %}


{% block file %}
  <p class="text-center text-light">ФАЙЛЫ</p>
  <div class="btn-group text-center">
    <a href="{% url 'add_pagefile' %}" class="btn btn-success btn-sm">ПРИКРЕПИТЬ</a>
  </div>
  <div class="btn-group-vertical">
    {% for file in files %}
        {% if file.projectpage_id == detail.id %}
          <p class="text-primary">{{ file.title }}</p>
          <a href="{% url 'delete_pagefile' pk=file.id %}" class="btn btn-outline-danger btn-sm">УДАЛИТЬ</a>
          <a download href="/media/{{ file.file }}" class="btn btn-outline-success btn-sm">СКАЧАТЬ</a>
        {% endif %}
    {% endfor %}
  </div>
{% endblock file %}
