{% extends 'mezzanine.html' %}
{% load staticfiles %}

{% block panel %}
<section class="describtion">
        <a href="{% url 'createproject' %}">       
        <img src="{% static '/mezzanine/icons/about_project_icon.png' %}" class="active">    
        <h3 class="title_project active">О проекте</h3>         
        </a>
        <a href="{% url 'createproject' %}">       
        <img src="{% static '/mezzanine/icons/team_icon.png' %}">    
        <h3 class="title_project">Команда</h3>         
        </a>
        <a href="{% url 'createproject' %}">       
        <img src="{% static '/mezzanine/icons/settings_icon.png' %}">    
        <h3 class="title_project">Настройки проекта</h3>         
        </a>
</section>    
{% endblock %}
{% block project %}
{% endblock %}
