{% extends 'mezzanine.html' %}

{% block title %}MEZZANINE{% endblock title %}
{% block ProjectTree %}
  {% for project in projects %}
    <a href="{% url 'projectdetail' slug=project.slug %}"><h4>{{ project.title }}</h4></a>
    {% for page in pages %}
      {% if page.project_id == project.id %}
        <a href="{% url 'pagedetail' slug=page.slug %}"><h6>-{{ page.title }}</h6></a>
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endblock ProjectTree %}

{% block content %}
  {% block default %}

  {% endblock default %}
{% endblock content %}
