{% extends 'mezzanine.html' %}


{% block ProjectTree %}
  {% for project in projects %}
  <div class="container">
    <div class="btn-group">
      <a href="{{ project.get_absolute_url }}" class="btn btn-sm"><h6 class="text-info">{{ project.title }}</h6></a>
      <div class="btn-group">
        {% if project.user == request.user or request.user.is_superuser %}
          <a href="{{ project.get_delete_url }}" class="btn text-danger btn-sm">X</a>
          <a href="{{ project.get_update_url }}" class="btn text-primary btn-sm">C</a>
        {% endif %}
      <a href="{% url 'createpage' slug=project.slug %}" class="btn text-success btn-sm">P</a>
      </div>
    </div>
  </div>
    {% for page in pages %}
      {% if page.project_id == project.id and page.parent_page == Null %}
      <div class="container">
        <div class="btn-group">
          <a href="{{ page.get_absolute_url }}" class="btn btn-sm"><p class="text-warning">^{{ page.title }}</p></a>
          <div class="btn-group">
            {% if page.user == request.user or request.user.is_superuser %}
              <a href="{{ page.get_delete_url }}" class="btn text-danger btn-sm">x</a>
              <a href="{{ page.get_update_url }}" class="btn text-primary btn-sm">с</a>
            {% endif %}
            <a href="{% url 'pagetopage' slug=page.slug %}" class="btn text-success btn-sm">PtP</a>
          </div>
        </div>
      </div>
      {% endif %}
      {% for sub in sub_page %}
        {% if sub.project_id == project.id and page.id == sub.parent_page %}
        <div class="container">
          <div class="btn-group">
            <a href="{{ sub.get_absolute_url }}" class="btn btn-sm"><p class="text-danger">^^{{ sub.title }}</p></a>
            <div class="btn-group">
              {% if page.user == request.user or request.user.is_superuser %}
                <a href="{{ sub.get_delete_url }}" class="btn text-danger btn-sm">x</a>
                <a href="{{ sub.get_update_url }}" class="btn text-primary btn-sm">с</a>
              {% endif %}
              <a href="{% url 'pagetopage' slug=sub.slug %}" class="btn text-success btn-sm">PtP</a>
            </div>
          </div>
        </div>
        {% endif %}
      {% endfor %}
    {% endfor %}
    <hr>
  {% endfor %}
{% endblock ProjectTree %}

{% block content %}
  {% block default %}

  {% endblock default %}
{% endblock content %}
