<!DOCTYPE html>
<!--{% load staticfiles %}-->
<html lang="ru" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Palanquin:400,700" rel="stylesheet">
    <link href="{% static 'css/font/GothamPro.ttf' %}">
    <title>{% block title %}{% endblock title %}</title>
    <style>
    .dropdown {
        display: inline-block;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        z-index: 1;
        background-color: white;
    }

    .dropdown:active .dropdown-content {display: block}
    .dropdown-content:hover {display: block}
    .dropdown:hover {background: #CEDEEE}
</style>
</head>
<body>    
    <section class="aside">              	
	    	<div class="row">
	    	<a href="{% url 'Home_Page' %}" class="col-12 main align-self-start">
	    		dr
	    		</a>
	    	<!-- 4 knopki sverxu --> 
	    	<!-- {% if cur_project != None %} -->
	        <a href="{% url 'project_url' id=cur_project.id %}" class="col-12 home align-self-start">
	        	<img src="{% static '/mezzanine/icons/home_icon.png' %}">
	            </a>	            
	        <a href="{% url 'documents_url' id=cur_project.id %}" class="col-12 documents align-self-start">
	        	<img src="{% static '/mezzanine/icons/documents_icon.png' %}">
	            </a>	            
	        <a href="{% url 'taskmanager_url' proj_id=cur_project.id %}" class="col-12 tasks align-self-start">
	        	<img src="{% static '/mezzanine/icons/taskmanager_icon.png' %}">
	        	</a>	        	
	        <a href="{% url 'taskmanager_url' proj_id=cur_project.id %}" class="col-12 tasks align-self-start">
	        	<img src="{% static '/mezzanine/icons/taskmanager_icon.png' %}">
	        	</a>        
	    	<!-- 3 knopki snizu -->        
	        <a href="{% url 'project_url' id=cur_project.id %}" class="col-12 notification align-self-end">
	        	<img src="{% static '/mezzanine/icons/home_icon.png' %}">
	            </a>	            
	        <a href="{% url 'documents_url' id=cur_project.id %}" class="col-12 search align-self-end">
	        	<img src="{% static '/mezzanine/icons/documents_icon.png' %}">
	            </a>	            
	        <a href="{% url 'taskmanager_url' proj_id=cur_project.id %}" class="col-12 profile align-self-end" style="background:url(),#828282;">   	
	        	</a>
	        <!--{% endif %}-->
	        </div>    		
    </section>     
    <section class="panel">    	
	    <div class="dropdown" style="position: fixed; width: 332px; height: 57px; left: 109px; top: 27px; border-radius: 4px;">
        <div >
            <div style="position: absolute; width: 40px; height: 40px; left: 11px; top: 9px; border-radius: 4px; background: rgba(255, 255, 255, 0.8);"></div>
            <div style="position: absolute; width: 24px; height: 24px; left: 303px; top: 17px;">
                <img src="{% static 'mezzanine/icons/v_icon.png' %}" style="position: absolute; left: 26.74%; right: 26.7%; top: 37.49%; bottom: 35.07%;">
            </div>
            <div style="position: absolute; width: 170px; height: 18px; left: 71px; top: 20px; font-family: Gotham Pro; line-height: normal; font-size: 18px; color: #191919;">
                {{ cur_project.title }}
            </div>

            <div class="dropdown-content" style="position: relative; top: 0px; background-color: rgba(0,0,0,0)">
            <div style="position: absolute; width: 332px; height: 70px; top: -70px"></div>
            <div style="position: relative; width: 332px; top: 70px; background: #FFFFFF; border: 1px solid #D7D7D7; box-sizing: border-box; box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2); border-radius: 6px;">
                {% for project in projects %}
                    {% if cur_project != project %}
                    <a href="{% url 'project_url' id=project.id %}">
                    <div style="position: relative; height: 78px; top: 18px;">
                        <div class="rectangle" style="position: relative; width: 40px; height: 40px; left: 11px; border-radius: 4px; background: rgba(0, 0, 0, 0.8);"></div>
                        <div style="position: relative; width: 170px; height: 18px; left: 71px; top: -28px; font-family: Gotham Pro; line-height: normal; font-size: 18px; color: #191919;">
                            {{ project.title }}
                        </div>
                        <div style="position: relative;width: 331px; border: 1px solid #D7D7D7;"></div>
                    </div>
                    </a>
                    {% endif %}
                {% endfor %}
                <a href="{% url 'createproject' %}">
                <div style="position: relative; height: 65px;">
                    <img src="{% static 'mezzanine/icons/plus_icon.png' %}" style="position: relative; left: 21px; top: 21px;">
                    <div style="position: absolute; width: 208px; height: 18px; left: 71px; font-family: Gotham Pro; line-height: normal;font-size: 18px;color: #9E9E9E;">
                        Создать новый проект
                    </div>
                </div>
                </a>
            </div>
        </div>
        </div>
    </div>	 	    	
    </section>
</div>
<!--content-->
<div style="position: absolute; left: 0; top: 0">
   {% block content %}
    	{% endblock content %}
</div>

    
</body>
</html>
