<!DOCTYPE html>
<!--{% load staticfiles %}-->
<html lang="ru" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="../../static/css/bootstrap.css">
    <link href="https://fonts.googleapis.com/css?family=Palanquin:400,700" rel="stylesheet">
    <link href="{% static 'css/font/GothamPro.ttf' %}">
    
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>    
    <section class="aside">              	
	    	<div class="row">
	    	<a href="{% url 'Home_Page' %}" class="col-12 main align-self-start">
	    		dr
	    		</a>
	    	<!-- 4 knopki sverxu --> 
	    	<!-- {% if cur_project != None %} -->
	        <a href="{% url 'project_url' id=cur_project.id %}" class="col-12 home align-self-start">
	        	<img src="{% static '/mezzanine/icons/home_icon.png' %}">
	            </a>	            
	        <a href="{% url 'documents_url' id=cur_project.id %}" class="col-12 documents align-self-start">
	        	<img src="{% static '/mezzanine/icons/documents_icon.png' %}">
	            </a>	            
	        <a href="{% url 'taskmanager_url' proj_id=cur_project.id %}" class="col-12 tasks align-self-start">
	        	<img src="{% static '/mezzanine/icons/taskmanager_icon.png' %}">
	        	</a>	        	
	        <a href="{% url 'taskmanager_url' proj_id=cur_project.id %}" class="col-12 tasks align-self-start">
	        	<img src="{% static '/mezzanine/icons/taskmanager_icon.png' %}">
	        	</a>        
	    	<!-- 3 knopki snizu -->        
	        <a href="{% url 'project_url' id=cur_project.id %}" class="col-12 notification align-self-end">
	        	<img src="{% static '/mezzanine/icons/home_icon.png' %}">
	            </a>	            
	        <a href="{% url 'documents_url' id=cur_project.id %}" class="col-12 search align-self-end">
	        	<img src="{% static '/mezzanine/icons/documents_icon.png' %}">
	            </a>	            
	        <a href="{% url 'taskmanager_url' proj_id=cur_project.id %}" class="col-12 profile align-self-end" style="background:url(),#828282;">   	
	        	</a>
	        <!--{% endif %}-->
	        </div>    		
    </section>     
    <section class="panel">    	
	    <article class="select_project" id="sel" onclick="changebg()">
	    	<article style="background: url(), rgba(255, 255, 255, 0.8);"></article>
	    	<h3>{{ cur_project.title }}</h3>
	    	<img src="{% static 'mezzanine/icons/v_icon.png' %}">
	    	</article>
	    <script type="text/javascript">
	    	function changebg() {
	    		var sel = document.getElementById('sel');
	    		sel.style.background = "#cedeee";
	    	}
	</script>
    </section>
</div>
<!--content-->
<div style="position: absolute; left: 0; top: 0">
   <!-- {% block content %}
    	{% endblock content %}-->
</div>

    
</body>
</html>
